In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('us_retail_sales-2.csv')
df.convert_dtypes()

,sales_month,naics_code,kind_of_business,reason_for_null,sales
0,1/1/92,441,Motor vehicle and parts dealers,<NA>,29811
1,1/1/92,4411,Automobile dealers,<NA>,25800
2,1/1/92,"4411, 4412",Automobile and other motor vehicle dealers,<NA>,26788
3,1/1/92,44111,New car dealers,<NA>,24056
4,1/1/92,44112,Used car dealers,<NA>,1744
...,...,...,...,...,...
22615,12/1/20,<NA>,GAFO(1),<NA>,144871
22616,12/1/20,<NA>,Retail sales and food services excl motor vehi...,<NA>,494937
22617,12/1/20,<NA>,"Retail and food services sales, total",<NA>,611429
22618,12/1/20,<NA>,Retail sales and food services excl gasoline s...,<NA>,574794
22619,12/1/20,<NA>,Retail sales and food services excl motor vehi...,<NA>,458302

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22620 entries, 0 to 22619
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sales_month       22620 non-null  object
 1   naics_code        20184 non-null  object
 2   kind_of_business  22620 non-null  object
 3   reason_for_null   594 non-null    object
 4   sales             22026 non-null  float64
dtypes: float64(1), object(4)
memory usage: 883.7+ KB

In [7]:
df['sales_month'] = pd.to_datetime(df['sales_month'])

/var/folders/v9/v9j8bf6j2r5cr97thvfgxxyh0000gn/T/ipykernel_21555/1697851093.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['sales_month'] = pd.to_datetime(df['sales_month'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22620 entries, 0 to 22619
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sales_month       22620 non-null  datetime64[ns]
 1   naics_code        20184 non-null  object
 2   kind_of_business  22620 non-null  object
 3   reason_for_null   594 non-null    object
 4   sales             22026 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 883.7+ KB

In [9]:
df

,sales_month,naics_code,kind_of_business,reason_for_null,sales
0,1992-01-01,441,Motor vehicle and parts dealers,NaN,29811.0
1,1992-01-01,4411,Automobile dealers,NaN,25800.0
2,1992-01-01,"4411, 4412",Automobile and other motor vehicle dealers,NaN,26788.0
3,1992-01-01,44111,New car dealers,NaN,24056.0
4,1992-01-01,44112,Used car dealers,NaN,1744.0
...,...,...,...,...,...
22615,2020-12-01,NaN,GAFO(1),NaN,144871.0
22616,2020-12-01,NaN,Retail sales and food services excl motor vehi...,NaN,494937.0
22617,2020-12-01,NaN,"Retail and food services sales, total",NaN,611429.0
22618,2020-12-01,NaN,Retail sales and food services excl gasoline s...,NaN,574794.0
22619,2020-12-01,NaN,Retail sales and food services excl motor vehi...,NaN,458302.0

In [10]:
df['naics_code'] = df['naics_code'].astype('string')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22620 entries, 0 to 22619
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sales_month       22620 non-null  datetime64[ns]
 1   naics_code        20184 non-null  string
 2   kind_of_business  22620 non-null  object
 3   reason_for_null   594 non-null    object
 4   sales             22026 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2), string(1)
memory usage: 883.7+ KB

In [12]:
df

,sales_month,naics_code,kind_of_business,reason_for_null,sales
0,1992-01-01,441,Motor vehicle and parts dealers,NaN,29811.0
1,1992-01-01,4411,Automobile dealers,NaN,25800.0
2,1992-01-01,"4411, 4412",Automobile and other motor vehicle dealers,NaN,26788.0
3,1992-01-01,44111,New car dealers,NaN,24056.0
4,1992-01-01,44112,Used car dealers,NaN,1744.0
...,...,...,...,...,...
22615,2020-12-01,<NA>,GAFO(1),NaN,144871.0
22616,2020-12-01,<NA>,Retail sales and food services excl motor vehi...,NaN,494937.0
22617,2020-12-01,<NA>,"Retail and food services sales, total",NaN,611429.0
22618,2020-12-01,<NA>,Retail sales and food services excl gasoline s...,NaN,574794.0
22619,2020-12-01,<NA>,Retail sales and food services excl motor vehi...,NaN,458302.0

In [13]:
# Install required packages for PostgreSQL connection
import subprocess
import sys

def install_package(package):
    subprocess.check_call([sys.executable, "-m", "pip", "install", package])

try:
    import psycopg2
    print("psycopg2 already installed")
except ImportError:
    print("Installing psycopg2...")
    install_package("psycopg2-binary")
    import psycopg2

try:
    from sqlalchemy import create_engine
    print("sqlalchemy already installed") 
except ImportError:
    print("Installing sqlalchemy...")
    install_package("sqlalchemy")
    from sqlalchemy import create_engine

psycopg2 already installed
sqlalchemy already installed

In [17]:
# PostgreSQL Connection Parameters
# Update these with your actual PostgreSQL connection details
DB_CONFIG = {
    'host': 'localhost',        # Change to your PostgreSQL host
    'port': '5432',            # Change to your PostgreSQL port
    'database': 'us_retail_report_db', # Change to your database name
    'username': 'postgres', # Change to your username
    'password': 'Password1234'  # Change to your password
}

# Create connection string
connection_string = f"postgresql://{DB_CONFIG['username']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['database']}"

print("Connection string created (password hidden for security)")
print(f"postgresql://{DB_CONFIG['username']}:***@{DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['database']}")

Connection string created (password hidden for security)
postgresql://postgres:***@localhost:5432/us_retail_report_db

In [18]:
# Test database connection
try:
    engine = create_engine(connection_string)
    connection = engine.connect()
    print("✓ Successfully connected to PostgreSQL database!")
    connection.close()
except Exception as e:
    print(f"✗ Connection failed: {e}")
    print("Please check your database configuration and ensure PostgreSQL is running.")

✓ Successfully connected to PostgreSQL database!

In [19]:
# Prepare data for upload to PostgreSQL
print("Data shape:", df.shape)
print("\nColumn names in DataFrame:", df.columns.tolist())
print("\nData types:")
print(df.dtypes)
print("\nFirst few rows:")
print(df.head())

Data shape: (22620, 5)

Column names in DataFrame: ['sales_month', 'naics_code', 'kind_of_business', 'reason_for_null', 'sales']

Data types:
sales_month         datetime64[ns]
naics_code          string[python]
kind_of_business            object
reason_for_null             object
sales                      float64
dtype: object

First few rows:
  sales_month  naics_code                            kind_of_business  \
0  1992-01-01         441             Motor vehicle and parts dealers
1  1992-01-01        4411                          Automobile dealers
2  1992-01-01  4411, 4412  Automobile and other motor vehicle dealers
3  1992-01-01       44111                             New car dealers
4  1992-01-01       44112                            Used car dealers

  reason_for_null    sales
0             NaN  29811.0
1             NaN  25800.0
2             NaN  26788.0
3             NaN  24056.0
4             NaN   1744.0

In [20]:
# Upload data to PostgreSQL retail_sales table
try:
    # Create engine for data upload
    engine = create_engine(connection_string)
    
    # Upload DataFrame to PostgreSQL table
    # if_exists='replace' will drop and recreate the table
    # if_exists='append' will add data to existing table
    # if_exists='fail' will raise error if table exists
    
    print("Starting data upload to retail_sales table...")
    
    df.to_sql(
        name='retail_sales',        # Table name
        con=engine,                 # Database connection
        if_exists='append',         # Append to existing table
        index=False,                # Don't include DataFrame index
        method='multi'              # Use executemany() for better performance
    )
    
    print(f"✓ Successfully uploaded {len(df)} rows to retail_sales table!")
    
except Exception as e:
    print(f"✗ Upload failed: {e}")
    print("Error details:", str(e))

Starting data upload to retail_sales table...
✓ Successfully uploaded 22620 rows to retail_sales table!
✓ Successfully uploaded 22620 rows to retail_sales table!

In [21]:
# Verify the data upload by querying the table
try:
    engine = create_engine(connection_string)
    
    # Query to check row count
    row_count_query = "SELECT COUNT(*) as total_rows FROM retail_sales;"
    result = pd.read_sql_query(row_count_query, engine)
    print(f"Total rows in retail_sales table: {result['total_rows'].iloc[0]}")
    
    # Query to see sample data
    sample_query = "SELECT * FROM retail_sales LIMIT 5;"
    sample_data = pd.read_sql_query(sample_query, engine)
    print("\nSample data from retail_sales table:")
    print(sample_data)
    
    # Check data types in PostgreSQL
    schema_query = """
    SELECT column_name, data_type, is_nullable 
    FROM information_schema.columns 
    WHERE table_name = 'retail_sales' 
    ORDER BY ordinal_position;
    """
    schema_info = pd.read_sql_query(schema_query, engine)
    print("\nTable schema:")
    print(schema_info)
    
except Exception as e:
    print(f"✗ Verification failed: {e}")

Total rows in retail_sales table: 65425

Sample data from retail_sales table:
  sales_month  naics_code                            kind_of_business  \
0  1992-01-01         441             Motor vehicle and parts dealers
1  1992-01-01         441             Motor vehicle and parts dealers
2  1992-01-01        4411                          Automobile dealers
3  1992-01-01  4411, 4412  Automobile and other motor vehicle dealers
4  1992-01-01       44111                             New car dealers

  reason_for_null    sales
0            None  29811.0
1            None  29811.0
2            None  25800.0
3            None  26788.0
4            None  24056.0

Table schema:
        column_name data_type is_nullable
0       sales_month      date          NO
1        naics_code      text         YES
2  kind_of_business      text          NO
3   reason_for_null      text         YES
4             sales   numeric         YES

In [22]:
# Function to execute PostgreSQL queries easily
def run_postgres_query(query, return_data=True):
    """
    Execute a PostgreSQL query and optionally return results as DataFrame
    
    Args:
        query (str): SQL query to execute
        return_data (bool): If True, returns results as DataFrame (for SELECT queries)
                           If False, just executes query (for INSERT, UPDATE, DELETE)
    
    Returns:
        DataFrame or None
    """
    try:
        engine = create_engine(connection_string)
        
        if return_data:
            # For SELECT queries - return data
            result = pd.read_sql_query(query, engine)
            print(f"✓ Query executed successfully. Returned {len(result)} rows.")
            return result
        else:
            # For INSERT, UPDATE, DELETE queries - just execute
            with engine.connect() as conn:
                result = conn.execute(query)
                conn.commit()
            print("✓ Query executed successfully.")
            return None
            
    except Exception as e:
        print(f"✗ Query failed: {e}")
        return None

print("PostgreSQL query function ready to use!")

PostgreSQL query function ready to use!

In [23]:
# Example PostgreSQL queries you can run

# 1. Basic SELECT query - View all data
query1 = """
SELECT * FROM retail_sales 
LIMIT 10;
"""

result1 = run_postgres_query(query1)
if result1 is not None:
    display(result1)

✓ Query executed successfully. Returned 10 rows.

,sales_month,naics_code,kind_of_business,reason_for_null,sales
0,1992-01-01,441,Motor vehicle and parts dealers,None,29811.0
1,1992-01-01,441,Motor vehicle and parts dealers,None,29811.0
2,1992-01-01,4411,Automobile dealers,None,25800.0
3,1992-01-01,"4411, 4412",Automobile and other motor vehicle dealers,None,26788.0
4,1992-01-01,44111,New car dealers,None,24056.0
5,1992-01-01,44112,Used car dealers,None,1744.0
6,1992-01-01,4413,"Automotive parts, acc., and tire stores",None,3023.0
7,1992-01-01,442,Furniture and home furnishings stores,None,3846.0
8,1992-01-01,"442, 443","Furniture, home furn, electronics, and applian...",None,7503.0
9,1992-01-01,4421,Furniture stores,None,2392.0

In [24]:
# More advanced PostgreSQL query examples

# 2. Aggregation query - Total sales by kind of business
query2 = """
SELECT 
    kind_of_business,
    SUM(sales) as total_sales,
    COUNT(*) as record_count,
    AVG(sales) as avg_sales
FROM retail_sales 
GROUP BY kind_of_business
ORDER BY total_sales DESC;
"""

print("=== Total Sales by Business Type ===")
result2 = run_postgres_query(query2)
if result2 is not None:
    display(result2)

=== Total Sales by Business Type ===
✓ Query executed successfully. Returned 65 rows.

,kind_of_business,total_sales,record_count,avg_sales
0,"Retail and food services sales, total",236107986.0,696,339235.612069
1,Retail sales and food services excl gasoline s...,215403226.0,696,309487.393678
2,"Retail sales, total",211160728.0,696,303391.850575
3,Retail sales and food services excl motor vehi...,187019870.0,696,268706.709770
4,Retail sales and food services excl motor vehi...,166315110.0,696,238958.491379
...,...,...,...,...
60,Book stores,1122402.0,1044,1075.097701
61,Used merchandise stores,1003503.0,1044,961.209770
62,Other clothing stores,778587.0,1044,1081.370833
63,Men's clothing stores,751533.0,1044,724.020231
64,Paint and wallpaper stores,595866.0,1044,827.591667

In [ ]:
# Time series analysis queries

# 3. Monthly sales trends
query3 = """
SELECT 
    DATE_TRUNC('year', sales_month) as year,
    DATE_TRUNC('month', sales_month) as month,
    SUM(sales) as monthly_total_sales,
    COUNT(DISTINCT kind_of_business) as business_types_count
FROM retail_sales 
GROUP BY DATE_TRUNC('year', sales_month), DATE_TRUNC('month', sales_month)
ORDER BY year, month;
"""

print("=== Monthly Sales Trends ===")
result3 = run_postgres_query(query3)
if result3 is not None:
    display(result3.head(12))  # Show first 12 months

In [25]:
# Template for writing your own PostgreSQL queries

# Write your custom PostgreSQL query here
custom_query = """
-- Your SQL query goes here
-- Example:
SELECT 
    kind_of_business,
    sales_month,
    sales,
    naics_code
FROM retail_sales 
WHERE sales > 50000
ORDER BY sales DESC
LIMIT 20;
"""

print("=== Your Custom Query Results ===")
custom_result = run_postgres_query(custom_query)
if custom_result is not None:
    display(custom_result)

=== Your Custom Query Results ===
✓ Query executed successfully. Returned 20 rows.

,kind_of_business,sales_month,sales,naics_code
0,"Retail and food services sales, total",2020-12-01,611429.0,None
1,"Retail and food services sales, total",2020-12-01,611429.0,None
2,"Retail and food services sales, total",2019-12-01,591380.0,None
3,"Retail and food services sales, total",2019-12-01,591380.0,None
4,Retail sales and food services excl gasoline s...,2020-12-01,574794.0,None
5,Retail sales and food services excl gasoline s...,2020-12-01,574794.0,None
6,"Retail sales, total",2020-12-01,559932.0,None
7,"Retail sales, total",2020-12-01,559932.0,None
8,"Retail and food services sales, total",2017-12-01,559854.0,None
9,"Retail and food services sales, total",2017-12-01,559854.0,None
10,"Retail and food services sales, total",2018-12-01,559289.0,None
11,"Retail and food services sales, total",2018-12-01,559289.0,None
12,"Retail and food services sales, total",2020-10-01,553114.0,None
13,"Retail and food services sales, total",2020-10-01,553114.0,None
14,Retail sales and food services excl gasoline s...,2019-12-01,551177.0,None
15,Retail sales and food services excl gasoline s...,2019-12-01,551177.0,None
16,"Retail and food services sales, total",2020-07-01,549416.0,None
17,"Retail and food services sales, total",2020-07-01,549416.0,None
18,"Retail and food services sales, total",2019-05-01,547130.0,None
19,"Retail and food services sales, total",2019-05-01,547130.0,None

In [27]:
# Simple PostgreSQL Query Template
# Just write your SQL query below and run the cell

query = """
SELECT * FROM retail_sales;
"""

# Execute and display results
result = run_postgres_query(query)
if result is not None:
    display(result)

✓ Query executed successfully. Returned 65425 rows.

,sales_month,naics_code,kind_of_business,reason_for_null,sales
0,1992-01-01,441,Motor vehicle and parts dealers,None,29811.0
1,1992-01-01,441,Motor vehicle and parts dealers,None,29811.0
2,1992-01-01,4411,Automobile dealers,None,25800.0
3,1992-01-01,"4411, 4412",Automobile and other motor vehicle dealers,None,26788.0
4,1992-01-01,44111,New car dealers,None,24056.0
...,...,...,...,...,...
65420,2020-12-01,None,GAFO(1),None,144871.0
65421,2020-12-01,None,Retail sales and food services excl motor vehi...,None,494937.0
65422,2020-12-01,None,"Retail and food services sales, total",None,611429.0
65423,2020-12-01,None,Retail sales and food services excl gasoline s...,None,574794.0
65424,2020-12-01,None,Retail sales and food services excl motor vehi...,None,458302.0