In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Cell 2: Load SQL extension
%load_ext sql
%sql postgresql://postgres:Password1234@localhost:5432/contoso_db

In [3]:
# Cell 4: Configure SQL magic settings
%config SqlMagic.autopandas = True
%config SqlMagic.named_parameters = "disabled"

/Users/teslim/anaconda3/envs/data-science-env/lib/python3.12/site-packages/IPython/core/interactiveshell.py:3517: UserWarning: Config option `named_parameters` not recognized by `SqlMagic`.
  if await self.run_code(code, result, async_=asy):

In [4]:
%%sql
SELECT *
FROM sales
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/contoso_db
5 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.4625,98.9670,57.3375,GBP,0.64155
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.7500,659.7800,382.2500,GBP,0.64155
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.3760,54.3760,25.0040,USD,1.00000
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.0400,286.6864,144.8800,USD,1.00000
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.7500,135.7500,62.4300,USD,1.00000

In [5]:
%%sql
select *
from product
limit 100;

 * postgresql://postgres:***@localhost:5432/contoso_db
100 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,106031,WWI Stereo Bluetooth Headphones E1000 White,Wide World Importers,Wide World Importers,White,pounds,0.17,34.36,67.40,1,Audio,106,Bluetooth Headphones
96,97,106032,WWI Stereo Bluetooth Headphones E1000 Green,Wide World Importers,Wide World Importers,Green,pounds,1.00,34.36,67.40,1,Audio,106,Bluetooth Headphones
97,98,106033,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Wide World Importers,Silver,ounces,1.14,55.18,120.00,1,Audio,106,Bluetooth Headphones
98,99,106034,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Wide World Importers,Black,ounces,12.80,55.18,120.00,1,Audio,106,Bluetooth Headphones
99,100,106035,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Wide World Importers,White,ounces,5.90,55.18,120.00,1,Audio,106,Bluetooth Headphones

In [6]:
%%sql
select 
orderdate,customerkey
from sales

 * postgresql://postgres:***@localhost:5432/contoso_db
199873 rows affected.

         orderdate  customerkey
0       2015-01-01       947009
1       2015-01-01       947009
2       2015-01-01      1772036
3       2015-01-01      1518349
4       2015-01-01      1518349
...            ...          ...
199868  2024-04-20       664396
199869  2024-04-20       664396
199870  2024-04-20       267690
199871  2024-04-20       267690
199872  2024-04-20       267690

[199873 rows x 2 columns]

In [7]:
%%sql
select quantity, unitprice
from sales

 * postgresql://postgres:***@localhost:5432/contoso_db
199873 rows affected.

        quantity  unitprice
0              1   112.4625
1              1   749.7500
2              2    54.3760
3              4   315.0400
4              7   135.7500
...          ...        ...
199868         7   159.9900
199869         1   159.9900
199870         2    60.9900
199871         5   326.0000
199872         6     6.8800

[199873 rows x 2 columns]

In [17]:
%%sql
SELECT *,
ROUND(quantity * netprice * exchangerate, 2) AS total_price
FROM sales
LIMIT 10

 * postgresql://postgres:***@localhost:5432/contoso_db
(psycopg2.errors.UndefinedFunction) function round(double precision, integer) does not exist
LINE 2: ROUND(quantity * netprice * exchangerate, 2) AS total_price
        ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT *,
ROUND(quantity * netprice * exchangerate, 2) AS total_price
FROM sales
LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [18]:
%%sql
SELECT *,
ROUND((quantity * netprice * exchangerate)::numeric, 2) AS total_price
FROM sales
LIMIT 10

 * postgresql://postgres:***@localhost:5432/contoso_db
10 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate,total_price
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.4625,98.96700,57.3375,GBP,0.64155,63.49
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.7500,659.78000,382.2500,GBP,0.64155,423.28
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.3760,54.37600,25.0040,USD,1.00000,108.75
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.0400,286.68640,144.8800,USD,1.00000,1146.75
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.7500,135.75000,62.4300,USD,1.00000,950.25
5,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.2000,434.30400,229.5680,USD,1.00000,1302.91
6,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.9940,58.73466,33.6480,USD,1.00000,58.73
7,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.9925,74.99250,34.4850,USD,1.00000,224.98
8,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.7200,113.57280,58.4880,CAD,1.15831,263.11
9,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.4550,499.45500,165.4800,CAD,1.15831,578.52

In [15]:
%%sql
SELECT column_name 
FROM information_schema.columns 
WHERE table_name = 'sales'

 * postgresql://postgres:***@localhost:5432/contoso_db
13 rows affected.

     column_name
0   exchangerate
1     linenumber
2      orderdate
3   deliverydate
4    customerkey
5       storekey
6     productkey
7       quantity
8      unitprice
9       netprice
10      unitcost
11      orderkey
12  currencycode